*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #282828;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

main{
    min-height: 70vh;
    padding-bottom: 2rem;
}